:root{
    --primary-text-color: #212121;
    --secondary-text-colot: #757575;
    --accent-color: #2196F3;
    --back-ground-color: #2F303A;
    --address-text-color:  rgba(255, 255, 255, 0.6);
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* index.html */

.logo{
    font-family: 'Relaway' sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--accent-color);
}

.logo .part-logo{
    color: #000000;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

.header-item{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-item:hover, 
.header-item:focus{
    color: var(--accent-color);
}
.nav-contact{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-colot);
}

.contact-item{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.contact-item:hover,
.contact-item:focus{
    color: var(--accent-color);
}
.current{
    color: var(--accent-color);
}


.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-section, 
.footer-section{
    background-color:  var(--back-ground-color);
}
.main-button{
    font-weight: 700px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus{
    font-weight: 700px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.skills{
    font-weight: 700px;
    line-height: 1.14;
    text-transform: uppercase;
    }

.skills-description{
    color: var(--secondary-text-colot);
}
.work-section{
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.17;
}
.team-member{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-position{
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-text-colot);
}

.address-contact{
    font-style: normal;
    color: #FFFFFF;
}

.address-item{
    font-style: normal;
    color: var(--address-text-color);
}

.address-item:hover,
.address-item:focus{
    color: var(--accent-color);
}

/* portfolio.html */

.secondary-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}

.secondary-button:hover,
.secondary-button:focus{
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.description{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text{
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-colot);
}

.address-contact{
    color: #FFFFFF;
}

.address-contact:hover,
.address-contact:focus{
    text-decoration: none;
    color: var(--accent-color);
}
